[Unit]
Description=Dispo
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/dispo/src/index.js
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/dispo

[Install]
WantedBy=multi-user.target