<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LED Sales Tracker Setup</title>
</head>
<body>
  <h1>Device Setup</h1>
  <form method="POST">
    <h3>Wi-Fi</h3>
    SSID: <input name="ssid"><br>
    Password: <input name="password" type="password"><br><br>
    <h3>Amazon Seller API</h3>
    Client ID: <input name="amazon_id"><br>
    Client Secret: <input name="amazon_secret"><br>
    Refresh Token: <input name="refresh"><br><br>
    <button type="submit">Save &amp; Reboot</button>
  </form>
</body>
</html>